/* Your CSS styles here */

body {
  padding: 0;
  margin: 0;
  display: flex;
}

#map,
html {
  flex: 1;
  height: 100vh;
}

#map {
  order: 2;
}

#selectContainer {
  flex: 0 0 300px;
  padding: 20px;
  order: 1;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Your existing CSS styles */

/* CSS for the "Get Prediction" button */
#getPredictionButton {
  margin-bottom: 10px; /* Add margin at the bottom of the button */
}

/* CSS for the predictedPovertyContainer */
#predictedPovertyContainer {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Rest of the CSS remains the same */
.leaflet-popup-content {
  text-align: center;
}

/* CSS from the leaflet-choropleth documentation */
.legend {
  color: #555;
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}

h1 {
  text-align: center;
}

